.delivery {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
}

.delivery-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.delivery-left h1{
    color: rgb(160, 212, 255);
    font-size: 50px;
    font-weight: 400;
}

.delivery-left p{
    color: rgb(129, 188, 225);
    font-size: 22px;
    font-weight: 600;
}

.delivery-left button{
    width: 282px;
    height: 70px;
    border-radius: 35px;
    background: rgb(109, 202, 255);
    border: none;
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;
}

.delivery-right {
    flex: 1;
    display: flex;
    justify-content: center;
}

.delivery-right img {
    max-width: 100%; /* Asigură că imaginea nu depășește lățimea containerului */
    height: auto; /* Menține proporțiile imaginii */
}
