.popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
  }
  
  .popular h1 {
    color: black;
    font-size: 50px;
    font-weight: 600;
  }
  
  .popular hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: grey;
  }
  
  .popular-items {
    margin-top: 50px;
    display: flex;
    gap: 30px;
  }
  
  .popular .item .new-price {
    color: green;
    font-weight: bold;
  }
  
  .popular .item .old-price {
    text-decoration: line-through;
    color: red;
    margin-top: 5px;
  }
  
  /* Media queries pentru tablete */
  @media (max-width: 1024px) {
    .popular h1 {
      font-size: 40px;
    }
  
    .popular hr {
      width: 150px;
    }
  
    .popular-items {
      flex-direction: column;
      align-items: center;
      gap: 20px;
      margin-top: 30px;
    }
  
    .popular .item {
      width: 80%;
    }
  }
  
  /* Media queries pentru telefoane */
  @media (max-width: 768px) {
    .popular h1 {
      font-size: 30px;
    }
  
    .popular hr {
      width: 120px;
    }
  
    .popular-items {
      flex-direction: column;
      align-items: center;
      gap: 15px;
      margin-top: 20px;
    }
  
    .popular .item {
      width: 90%;
    }
  }
  